.cart-summary-container {
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }

  .cart-summary {
    background-color: var(--white);
    padding: 1rem;
    margin: 1.5rem 0;
    border: 1px solid #eee;
    border-radius: 4px;

    .summary-row {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      color: var(--black);

      &.reduction span:last-child {
        color: var(--orange);
      }

      &.total {
        border-top: 1px solid #eee;
        margin-top: 0.5rem;
        padding-top: 1rem;
        font-weight: bold;
      }
    }
  }
} 