.carouselContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  height: 25%;
  overflow-x: auto; /* Défilement horizontal activé */
  overflow-y: hidden; /* Empêche le défilement vertical */
}

.arrowButton {
  display: none; /* Cache les boutons de navigation */
}

.subcat {
  width: 80px;
  max-width: 80px;
  flex-shrink: 0; /* Empêche les éléments de rétrécir */
  text-align: center;
  cursor: pointer;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  transition: transform 0.3s ease, color 0.3s ease;

  img {
    width: 36px;
    height: 36px;
    margin-bottom: 0.25rem;
    transition: filter 0.3s ease, transform 0.3s ease;
  }

  &:hover {
    color: #f9a826;

    img {
      transform: scale(1.1); /* Légère mise en avant au survol */
      filter: drop-shadow(0 0 5px #f9a826);
    }
  }
}

.active {
  color: #f9a826;
  font-weight: bold;

  img {
    filter: drop-shadow(0 0 5px #f9a826);
  }
}