.card {
    box-sizing: border-box;
    height: 100px;
    min-width: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    position: relative;
    color: black;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.08);
    padding: 6px;
    margin-top: 40px;
    padding-top: 15px;
    margin-bottom: 5px;
    transition: all 0.2s ease; /* Ajoute une transition fluide pour les changements visuels */
  
    &:hover {
        cursor: pointer;
        border: solid 1px black;
    }

    /* Style lorsque l'élément est en train d'être glissé */
    &.dragging {
        opacity: 0.7; /* Rendre l'élément légèrement transparent */
        transform: scale(1.05); /* Agrandir légèrement l'élément */
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15); /* Augmenter l'ombre portée */
        background-color: #f0f0f0; /* Changer le fond pour indiquer que l'élément est glissé */
    }

    .cardImage {
        position: absolute;
        width: 100%;
        top: -25%;
        left: 0px;
        display: flex;
        justify-content: center;

        .img {
            background-color: white;
            border-radius: 100%;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.08);
        }
    }

    .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        height: 100%;
        gap: 2px;

        h1 {
            font-size: 11px;
            font-weight: bold;
            margin-bottom: 2px;
        }

        p {
            font-size: 9px;
            color: #848383;
        }
    }

    .cardFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .cardPrice {
            font-weight: bold;
            font-size: 13px;
        }
    }
}