.categoryTabs {
  box-sizing: border-box;
  display: flex;
  background-color: #fff;
  height: 10%;

  .tab {
    flex: 1;
    font-size: 14px;
    background: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 500;
    color: #666;
    
    &.active {
      color: #f9a826;
      border-bottom: 2px solid #f9a826;
    }
  }
}


