@use '@styles/colors.module' as colors;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--nunitoSansFont);

  min-height: 100vh;

  // background-color: colors.$grey_main_background;
}

body > #mainContainer {
  max-height: 100vh;
  height: 100vh;
}

html,
body,
button,
input,
textarea,
select {
  font-family: var(--nunitoSansFont);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

// Variables
$primary-color: #f9a826;
$white: #fff;
$border-radius: 8px;
$transition-speed: 0.3s;