.productsGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  padding: 4rem 4rem;
  overflow-y: auto;
}

.subcategoryListBoxContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .subcategoryListBoxWrapper {
    width: 50%;
  }
}