@import '@styles/colors.module';

.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary;

  .topContainer, .bottomContainer {
    width: 100%;
    height: 42%;
    display: flex;
    justify-content: space-between;
  }

  .topContainer {
    transform: scale(-1, -1);
  }
}

.subcategoryListBoxContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5rem;

  .subcategoryListBoxWrapper {
    width: 50%;
  }
}