.leftMenuContent {
  padding: 2rem;
  height: 100%;
  overflow-y: auto;

  .leftMenuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftMenuTitle {
      font-size: 20px;
    }
  }

  ul {
    margin: 20px 0;
    list-style: none;

    li {
      padding: 0.5rem 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.mobileMenu {
    padding: 0.5rem;
  }
}
