.binContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc6464;
    width: 10vw;
    height: 19vh;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .topContainer, .bottomContainer {
    position: relative;
  }  

  .binIcon {
    color: white;
  }
  